header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li:hover:not(.active) {background-color: #ddd;}
